---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "EinsteinDB - Rust",
    icon: "frameworks/react",
    url: "https://github.com/YosiSF/EinsteinDB",
  },
  {
    title: "MilevaDB - Go",
    icon: "frameworks/preact",
    url: "https://github.com/YosiSF/MilevaDB",
  },
  {
    title: "FIDel - Haskell",
    icon: "frameworks/svelte",
    url: "https://github.com/YosiSF/FIDel",
  },
  {
    title: "VioletaBFT - Haskell",
    icon: "frameworks/vue",
    url: "https://github.com/YosiSF/VioletaBFT",
  },

];

const platforms: Array<CompatibilityItem> = [
  {
    title: "K8s",
    icon: "platforms/netlify",
    url: "https://www.einsteindb.com/",
  },
  {
    title: "FoundationDB",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Microsoft Azure",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },

];
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    EinsteinDB <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
     and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
