---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Just ship less" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
   Query-Optimized Multi-Dimemsional Enclave, Highly Available. amd Relativistically Causal Consistent EinsteinDB is a modern Schema-free Hybrid Row-Switching HTAP with Super Columnar and Learned Knowledgeable Base with Fast Window Queries and Sparse Hilbert Cubes.
    <span class="text-primary">modern</span> web3 stprahe powered by IPFS and local storahe.
    <span class="text-primary">Lightning-fast</span>
     Powered by Conic Data Structures, GPT4 laden, Design-Continuum Abstract Data Structures, named Causets, on Branes, amortized  minimal hypersurface<span class="text-primary">for continupud, merge-append, amd d appended IPFS</span> storage along with plans and mutli-dimeensional  nifty embedded Post-Quantum Cryptographic keys for the future!
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Predictive Analytics and Chaos Engineering via Smooth Parametrized ML-based Predictive Quandaries -- Used at Uber, Netflix, Carnegie-Mellon, and Oracle</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Open Source and Serverless Envoy Proxy Available with LLVM BERT encoder/decoder</span>
    </a>
  </div>
</ContentSection>
